<div class="card h-100 project-card">
  <div class="row g-0">
    <div class="col-sm-6 col-md-4">
      <img src="{{ site.baseurl }}/{{ include.page.image }}" class="w-100 rounded-start project-card-img project-card-img-large" alt="{{ include.page.title | escape }} image">
    </div>
    <div class="col-sm-6 col-md-8 d-flex flex-column">
      <div class="card-body d-flex flex-column">
        <div>
          <h5 class="card-title project-card-title">{{ include.page.title }} <small class="project-card-date float-end">{{ include.page.date }}</small></h5>
          <p class="card-text project-card-summary">{{ include.page.summary }}</p>
          <p class="project-card-labels-container">
            {% for label_text in include.page.labels %}
            {% include projects/project-keyword.html text=label_text %}
            {% endfor %}
          </p>
        </div>
        <div class="mt-auto pt-2 project-card-actions-container">
          {% if include.page.projecturl %}
          <a href="{{ include.page.projecturl }}" class="project-card-button">Project Site</a>
          {% else %}
          <a href="{{ site.baseurl}}{{ include.page.url }}" class="project-card-button">Read More</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
