<div style="background-color: var(--theme-changelog-bg-color)" class="bg-gradient py-3" id="career-changelog">
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-6">
                <h1 class="display-4 text-start">Career Changelog</h1>
            </div>
        </div>

        <div style="background-color: var(--theme-changelog-bg-color)" class="changelog bg-gradient py-3">
            <div class="alert alert-warning d-flex align-items-center" role="alert">
                <svg class="bi me-2" width="24" height="24" fill="currentColor" aria-label="Warning">
                    <use
                        xlink:href="{{ '/img/bootstrap-icons.svg' | prepend: site.baseurl }}#exclamation-triangle-fill" />
                </svg>
                <div>
                    For a complete overview of my experience and skills, check out my <a
                        href="{{ '/resume.html' | prepend: site.baseurl }}">resume</a> page.
                </div>
            </div>

            <p>All notable changes to this project (my career) will be documented in this section.</p>
            <p>The format is based on <a href="https://keepachangelog.com/en/1.1.0/" target="_blank">Keep a
                    Changelog</a> and this project
                adheres to <a href="https://semver.org/spec/v2.0.0.html" target="_blank">Semantic Versioning</a>.</p>

            {% assign entries = site.data.career_changelog.changelog | reverse %}

            {% for entry in entries %}

            <h5 id="changelog-{{ version }}">
                {{ entry.version }} - {{ entry.title }}
                {% if entry.company and entry.company != '' %}
                @ {{ entry.company }}
                {% endif %}
                {% if entry.date and entry.date != '' %}
                ({{ entry.date }})
                {% endif %}
            </h5>
            {% assign categories = "added,changed,deprecated,removed,fixed" | split: "," %}

            {% for category in categories %}
            {% if entry[category] and entry[category].size > 0 %}
            <h6 id="{{ category }}-{{ version }}">{{ category | capitalize }}</h6>
            <ul>
                {% for item in entry[category] %}
                <li>{{ item }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}

            {% endfor %}

        </div>
    </div>
</div>