<header class="navbar navbar-expand-sm navbar-dark site-header">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">
      <span class="d-none d-sm-inline">{{ site.data.bio.basics.name }}</span>
      <span class="d-inline d-sm-none">{%include icon.html name='house-fill' %}</span>
    </a>
    <div class="ms-auto">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ '/projects' | prepend: site.baseurl }}">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/resume.html' | prepend: site.baseurl }}">Resume</a>
        </li>
      </ul>
    </div>
  </div>
</header>