{% assign technologies = site.data.tech.technologies %}
<script src="{{ site.baseurl }}/assets/js/infinite-scroll.js"></script>

<div id="technology-section">
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-6">
                <h2 class="display-5 text-start">Technologies</h2>
            </div>
        </div>

        <div class="row d-flex flex-nowrap gx-5 infinite-scroll" data-infinite-scroll>
            {% for tech in technologies %}
            <div class="col mb-4 d-flex flex-column align-items-center">
                {% if tech.icon %}
                <img src="{{ site.baseurl }}/{{ tech.icon }}" alt="{{ tech.name }} icon" class="img-fluid mb-2"
                    style="height: 45px; max-width: 45px; object-fit: contain;">
                {% endif %}
                <p class="mb-0" style="font-size: 0.9rem;">{{ tech.name }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
