{% assign technologies = site.data.tech.technologies %}
<script src="{{ site.baseurl }}/assets/js/infinite-scroll.js"></script>

<div id="technology-section">
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-6">
                <h2 class="display-5 text-start">Technologies</h2>
            </div>
        </div>

        <!-- Wrapper for the scrollable content and fades -->
        <div class="scroll-container-wrapper">
            <!-- Left fade overlay -->
            <div class="scroll-fade-overlay fade-left"></div>

            <div class="row d-flex flex-nowrap gx-5 infinite-scroll" data-infinite-scroll>
                {% for tech in technologies %}
                {% include technology/technology-item.html tech=tech %}
                {% endfor %}
            </div>
            <!-- Right fade overlay -->
            <div class="scroll-fade-overlay fade-right"></div>
        </div>
    </div>
</div>